.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(45deg, #ffffff 50%, #ffffff 50%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.contact-title {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333333;
}

.contact-form {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
}

.contact-input {
  width: 56%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: solid 1px rgb(16, 23, 26);
}

.contact-input::placeholder {
  color: #999999;
}

.contact-textarea {
  display: flex;
  width: 56%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: solid 1px;
}

.contact-textarea::placeholder {
  color: #999999;
}

.contact-button {
  background-color: #1abc9c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contact-button:hover {
  background-color: #148f77;
}
